.about{
    margin-top: 30px;
    width: 100%;
}
.about .heading h2{
    font-size: 30px;
}
.about .info{
    align-content: flex-end;
    margin-top: 10px;
}
.about .info h5{
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width:400px ){
    .about .info h5{
        width: 400px;
        font-weight: 400;
        font-size: 15px;
    }
}