.education{
    margin-top: 30px;
}
.education .head h2{
    font-size: 30px;
}
.education .edu-list{
    margin-top: 20px;
}
.education .edu-list .list-one{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    width: 50%;
    margin: 20px 20px;
}
.edu-list .list-one .one-data img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.edu-list .list-one .one-data{
    display: flex;
    gap: 10px;
}
.edu-list .list-one .one-data h4{
    letter-spacing: 1px;
}
.edu-list .list-one .one-data p{
    font-size: 15px;
    margin-top: 10px;
}

@media (max-width:700px) {
    .education .edu-list .list-one{
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
        width: 95%;
    }
}