.navbar{
    height: 70px;
    margin: auto 30%;
    position: fixed;
    bottom: 30px;
    top: 90%;
}
.navbar .nav-fields{
    position: relative;
    top: 0;
    bottom: 40px;
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    color: black;
    background-color: rgba(237, 240, 240, 0.763);
    border: 1px solid #101010cc;
    height: 70px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    border-radius: 50px;
    justify-content: center;
    box-shadow: 15px 15px 21px #c7c5c500;
}
.nav-fields .home{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.nav-fields .home svg{
    height: 25px;
    width: 25px;
    cursor: pointer;
}
.nav-fields .home.active{
    fill: tomato;
    transition: ease-in-out .5s;
}

@media (max-width:700px) {
    .navbar{
        margin: auto 0%;
    }
    .navbar .nav-fields{
        gap: 13px;
    }
}