.project{
    margin-top: 30px;
}
.project .head{
    text-align: center;
    margin-top: 50px;
}
.project .head h2.active{
    background-color: rgb(248, 247, 247);
    color: black;
}
.project .head h2{
    text-align: center;
    background-color: black;
    color: white;
    width: auto;
    height: 45px;
    margin-left: 43%;
    margin-right: 43%;
    padding-top: 5px;
    border-radius: 5px;
}
.project .head h3{
    font-size: 40px;
    margin-top: 10px;
}
.project .head p{
    font-weight: 400;
    margin-top: 10px;
}
.project .project-list{
    margin: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
.project .project-list .one-list{
    background-color: whitesmoke;
    width: 370px;
    border-radius: 10px;
    height: auto;
    margin-top: 30px;
    box-shadow: 0px 0px 2px 0px;
}
.project .project-list .one-list.active{
    background-color: rgb(38, 38, 38);
}
.project-list .one-list .links{
    margin: 10px 10px;
    display: flex;
    gap: 30px;
}
a{
    text-decoration: none;
    color: white;
}
.one-list .links .git{
    background-color: black;
    text-align: center;
    width: 100px;
    height: 30px;
    font-weight: 600;
    font-size: 15px;
    padding-top: 3px;
    border-radius: 5px;
}

.project-list .one-list .info{
    margin: 10px 10px;
}

.project-list .one-list .tools{
    display: flex;
    gap: 15px;
    margin-left: 10px;
    flex-wrap: wrap;
    font-size: 13px;
}
.one-list .tools h5{
    background-color: rgba(238, 235, 235, 0.822);
    color: rgb(13, 13, 13);
    box-shadow: 0px 0px 1px 0px;
    text-align: center;
    width: 80px;
    border-radius: 5px;
    height: 25px;
    padding-top: 5px;
}

.project-list .one-list img{
    width: 370px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media (max-width:700px) {
    .project .head h2{
        font-size: 20px;
        margin-left: 30%;
        margin-right: 30%;
    }
    .project .head h3{
        font-size: 30px;
    }

    .project .project-list{
        margin: 10px 10px;
    }
}

@media (max-width:1060px){
    .project .head h2{
        font-size: 20px;
        margin-left: 20%;
        margin-right: 20%;
    }
    .project .head h3{
        font-size: 30px;
    }

    .project .project-list{
        margin: 10px 10px;
    }
}